* {
    margin: 0;
    padding: 0;
}

#grid-container {
    height: 560px;
    width: 1370px;
    background-color: lightyellow;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    position: absolute;
    left: 30px;
    top: 30px;
}

.grid-items {
    background-color: rosybrown;
    border: none;
}

#flex-items1 {
    height: 275px;
    width: 450px;
    background-image: url(https://cdn.pixabay.com/photo/2017/01/20/15/06/oranges-1995056_1280.jpg);
    background-repeat: no-repeat;
    background-size: 450px 275px;
}

#flex-items2 {
    height: 275px;
    width: 450px;
    background-image: url(https://cdn.pixabay.com/photo/2014/02/01/17/28/apple-256261_640.jpg);
    background-repeat: no-repeat;
    background-size: 450px 275px;
}

#flex-items3 {
    height: 275px;
    width: 450px;
    background-image: url(https://cdn.pixabay.com/photo/2015/06/19/16/48/watermelon-815072_640.jpg);
    background-repeat: no-repeat;
    background-size: 450px 275px;
}

#flex-items4 {
    height: 275px;
    width: 450px;
    background-image: url(https://cdn.pixabay.com/photo/2017/08/18/19/48/grapes-2656259_640.jpg);
    background-repeat: no-repeat;
    background-size: 450px 275px;
}

#flex-items5{
    height: 275px;
    width: 450px;   
    background-image: url(https://cdn.pixabay.com/photo/2018/09/24/20/12/bananas-3700718_640.jpg);
    background-repeat: no-repeat;
    background-size: 450px 275px;
}

#flex-items6 {
    height: 275px;
    width: 450px;
    background-image: url(https://cdn.pixabay.com/photo/2019/10/27/12/30/pomegranate-4581609_1280.jpg);
    background-repeat: no-repeat;
    background-size: 450px 275px;
}