    body {
        height: 2000px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .box {
        width: 150px;
        height: 100px;
        padding: 10px;
        color: white;
        font-weight: bold;
        margin: 20px;
    }

    .static {
        position: static;
        background-color: grey;
    }

    .relative {
        position: relative;
        top: 50px;
        left: 100px;
        background-color: blue;
    }

    .parent {
        position: relative;
        top: 60px;
        height: 200px;
        border: 2px dashed black;
        margin: 20px;
    }

    .absolute {
        position: absolute;
        top: 30px;
        right: 20px;
        background-color: green;
    }

    .fixed {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: red;
    }

    .sticky {
        position: sticky;
        top: 0;
        background-color: purple;
    }