* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* navbar */
nav {
    height: 70px;
    width: 100%;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 15px 25px rgba(94, 87, 87, 0.1);
}

/* logo */
.logo {
    height: 60px;
    width: 50px;
    background-image: url('myntra.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* menu */
.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.menu a:hover {
    color: orangered;
}

/* fonts */
.fonts {
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 18px;
}

.fonts i:hover {
    color: orangered;
}

/* hide box */
#menu-toggle {
    display: none;
}

/* hamburger */
.hamburger {
    display: none;
    font-size: 22px;
    cursor: pointer;
}

/* ------------------ TABLET ------------------ */
@media (max-width: 992px) {
    .menu {
        gap: 18px;
    }
}

/* ----------------- MOBILE ----------------- */
@media (max-width: 768px) {

    nav {
        padding: 0 20px;
    }

    .hamburger {
        display: block;
    }

    .menu {
        position: absolute;
        top: 75px;
        left: -18px;
        width: 100%;
        background-color: transparent;
        flex-direction: column;
        align-items: center;
        gap: 15px;


        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;
    }

    #menu-toggle:checked ~ .menu {
        max-height: 250px;
    }
}
