*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg,lightblue,lightgreen);
    display: flex;
    justify-content: space-around;
    align-items: center;
}  

.login-container{
    width: 320px;
    background: #f3f1f1;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-container h2{
    text-align: center;
    margin-bottom: 20px;
}

.input-group{
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}

.input-group input{
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-group input:focus{
    border-color: skyblue;
}

button{
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg,lightblue,lightgreen);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(135deg,rgb(81, 203, 209),rgb(149, 232, 149));
}

.signup-text{
    font-size: 14px;
    text-align: center;
    margin: 15px;   
} 

.signup-text a {
    text-decoration: none;
    color: #667eea;
}